body {
	width: 395px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
    padding-left: 2px;
    max-width: 390px;
}

.inner {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 115px ;
}

.img {
  margin-left: 5px;
  margin-right: 25px;
  margin-top: 3px;
  border-radius: 15px;
  width: 80px;	
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(73, 71, 71);
  border-width: 1px;
  text-align: center;
  overflow: hidden;
}
.item1 {
	display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.item h2 {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }
  .item h4 {
	display: flex;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }

.usercard {
	text-align: center;
}
.action-button {
	width: 185px;
	height: 45px;
	background-color: rgb(73, 71, 71); 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
  }
  .action-button:hover {
	background-color: #999;
  }
  
  .search-container {
	position: relative;
  }
  
  .search-input {
	width: 375px;
	height: 40px;
	font-size: 16px;
	border-radius: 12px;
	border: 2px solid rgb(73, 71, 71);
  }
  
  .search-icon {
	margin-right: 5px;
	color: rgb(73, 71, 71);
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
  }
  .item p {
	margin-top: 65px;
	padding-left:-150px;
	color:rgb(73, 71, 71) ;
  }
  .inner2 {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 50px ;
}
.inner2 h3 {
margin-left: 15px;	
}



